@font-face {
    font-family: 'PixelArt'; /* You can name it anything you like */
    src: url('/fonts/slkscr.ttf') format('truetype');
}

html, body {
    width: 100%;
    height: 100%;
    /* remove the extra whites around */
    margin: 0;
    overflow: hidden;
    font-family: 'PixelArt', sans-serif; /* Apply the font to the body */
    font-smooth: never; /* Prevent font smoothing */
    -webkit-font-smoothing: none; /* Prevent font smoothing on WebKit browsers */
    overscroll-behavior: none; /* Prevent the page from reloading when scrolling on mobile */
}
canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #394071;
    color: white;
    padding: 20px;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
    text-align: center;
}

button {
    /* retro pixelart button taken inspiration from above */
    background-color: #3a5339;
    color: white;
    cursor: pointer;
    font-family: 'PixelArt', sans-serif;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    box-shadow: inset -5px -5px 0px 0px black;
    border: none;
    outline: none;
    margin-top: 10px;
}

button:hover {
    background-color: #6b7b39; 
    box-shadow: inset -7.5px -7.5px 0px 0px black;
}

button:active {
    box-shadow: inset 5px 5px 0px 0px black;
}

.help_button {
    position: absolute; 
    top:10px; 
    right: 10px; 
    width: 3%; 
    cursor: pointer;
    display: none;
}

.overlay_text {
    color: white; 
    margin: 10px
}